.inputGroup {
    margin-top: 0.8rem;

    input {
        border: none;
        border-radius: 0.2rem;
    
        padding: 0.8rem;
    
        width: 100%;
    }

    .help{
        opacity: 0.4;
    }

}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        width: 48%;
    }
}


